.container {
    padding: 20px;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  button {
    margin-right: 10px;
  }

  .view-orders, .new-order {
    border: none;
    background: none;
    box-shadow: none;
    cursor: pointer; /* Mantiene el puntero de clic */
    font-weight: bold;
  }
  
  .view-orders {
    color: red;
  }
  
  .new-order {
    color: green;
  }