.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #af1212;
    padding: 10px;
    border-radius: 4px;
  }
  
  .orders-title {
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: larger;
  }
  
  .back-button {
    background-color: #af1212;
    color: #f3f0f0;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .back-button:hover {
    background-color: #af1212;
    color: white;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }