<div class="header-container">
    <h2 class="orders-title">{{this.customerName}} - Orders</h2>
  </div>
  
  <table mat-table [dataSource]="orders" class="mat-elevation-z8">
    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef> Order ID </th>
      <td mat-cell *matCellDef="let order"> {{ order.orderId }} </td>
    </ng-container>
  
    <ng-container matColumnDef="shipName">
      <th mat-header-cell *matHeaderCellDef> Ship Name </th>
      <td mat-cell *matCellDef="let order"> {{ order.shipName }} </td>
    </ng-container>
  
    <ng-container matColumnDef="shipAddress">
      <th mat-header-cell *matHeaderCellDef> Ship Address </th>
      <td mat-cell *matCellDef="let order"> {{ order.shipAddress }}, {{ order.shipCity }} </td>
    </ng-container>
  
    <ng-container matColumnDef="requiredDate">
      <th mat-header-cell *matHeaderCellDef> Required Date </th>
      <td mat-cell *matCellDef="let order"> {{ order.requiredDate | date }} </td>
    </ng-container>
  
    <ng-container matColumnDef="shippedDate">
      <th mat-header-cell *matHeaderCellDef> Shipped Date </th>
      <td mat-cell *matCellDef="let order"> {{ order.shippedDate | date }} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  
  <p *ngIf="orders.length === 0">No orders found for this customer.</p>
  
  <div class="button-container">
    <button (click)="goBack()" class="back-button">Back</button>
  </div>
  